# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore executable files
*.out
*.exe
*.dll
*.so
*.app
*.bin
*.sh
*.run
*.jar
*.class

# Ignore temporary files
*.tmp
*.temp
*.log
*.pid
*.seed

# Ignore other build artifacts
build/
dist/
*.egg-info/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/